---
layout: landing
---
<body>
  <section id="banner">
    <!-- <section id="banner" style="background-image: url('{{ "/assets/imgs/hellnahh.jpg" | relative_url }}');">  -->
    <div class="inner">
      <!--        TODO: DONE not capitalize for "I"-->
      <!-- <h2 style="font-family:'Gwendolyn', sans-serif; text-transform:none !important;" > -->
      <h2> 
        <!-- h2 font -->
        {{ site.title }}
      </h2>
      <!--        <p>{{ site.description | markdownify }}</p>-->
      <!-- <p >
        Usługi Miernicze i Geodezyjne "BUMIG"
        <br />
        Tomasz Podziemski
      </p> -->
      <!--        <ul class="actions">-->
      <!--            <li><a href="#"-->
      <!--                   class="button special">Activate</a></li>-->
      <!--        </ul>-->
    </div>
    <a href="#one" class="more">Więcej informacji</a>
  </section>

  <!-- One -->
  <section id="one" class="wrapper style1 with-separator special">
    <div class="inner">
      <!--        TODO: DONE wiekszy font na cala stronke -->
      <header class="major">
        <h2>O nas</h2>
        <p>
          Jesteśmy firmą z ponad 20-letnim doświadczeniem w branży.&nbsp;Od lat
          świadczymy kompleksowe usługi z zakresu geodezji oraz miernictwa i
          geologii dla klientów indywidualnych, firm oraz instytucji
          publicznych.
          <br />
          Naszą działalność opieramy na rzetelności, precyzji i terminowości.
          Dysponujemy nowoczesnym sprzętem geodezyjnym, który pozwala nam
          realizować nawet najbardziej wymagające pomiary z najwyższą
          dokładnością.&nbsp;Regularnie inwestujemy w nowe technologie oraz
          podnosimy kwalifikacje, aby sprostać aktualnym standardom i oczekiwaniom
          rynku.
          <br />
          Każde zlecenie traktujemy indywidualnie, zapewniając fachowe doradztwo
          oraz pełne zaangażowanie na każdym etapie realizacji.
          <br />
          Zaufanie, jakim obdarzają nas klienci od wielu lat, jest najlepszym
          potwierdzeniem jakości naszych usług.
        </p>
        <p>
          <b>Zapraszamy do współpracy!</b>
        </p>
      </header>
    </div>
  </section>

  <!-- jak bedzie to zdjecie dodać -->
  <!-- uslugi -->
  <section id="offer" class="wrapper style1 with-separator special">
    <div class="inner">
      <header class="major">
        <h2>Oferta</h2>
        <br />
        <h3 style="display: flex;justify-content: center; align-items: center; "><b>Geodezja</b></h3>
        <dl>
          <dt><b>Mapy do celów projektowych</b></dt>
          <dd>
            - sporządzanie i aktualizacja map zgodnie z obowiązującymi przepisami.
          </dd>

          <dt><b>Pomiary realizacyjne i inwentaryzacyjne</b></dt>
          <dd>- tyczenie obiektów budowlanych,</dd>
          <dd>- geodezyjna inwentaryzacja powykonawcza.</dd>

          <dt><b>Podziały i rozgraniczenia nieruchomości</b></dt>
          <dd>- podziały działek,</dd>
          <dd>- ustalenie, wznowienie i wyznaczenie granic,</dd>
          <dd>- rozgraniczenia nieruchomości.</dd>

          <dt><b>Pomiary sytuacyjno-wysokościowe</b></dt>
          <dd>- pomiary terenowe na potrzeby projektowe i inwestycyjne.</dd>

          <dt><b>Obsługa geodezyjna inwestycji</b></dt>
          <dd>- kompleksowa obsługa budów na każdym etapie realizacji.</dd>
        </dl>
        <br />

        <h3 style="display: flex;justify-content: center; align-items: center; "><b>Miernictwo i geologia górnicza</b></h3>
        <dl>
          <dd>
            - Sporządzanie podstawowej dokumentacji mierniczo-geologicznej dla
            prowadzenia ruchu zakładu górniczego.
          </dd>
          <dd>- Wykonywanie planów ruchu odkrywkowych zakładów górniczych</dd>
          <dd>
            - Obserwacje wpływów eksploatacji górniczej na powierzchnię terenu.
          </dd>
          <dd>- Pomiary kontrolne obiektów i urządzeń zakładu górniczego.</dd>
          <dd>- Pomiary i obliczenia związane z rozliczaniem robót ziemnych.</dd>
          <dd>
            - Sporządzanie dokumentacji dla prowadzenia rekultywacji gruntów, oraz
            po jej zakończeniu.
          </dd>
          <dd>- Wykonywanie operatów ewidencji zasobów.</dd>
          <dd>- Wykonanie okresowej analizy gospodarki złożem.</dd>
        </dl>
      </header>
    </div>
    <br />
  </section>

  <!-- kontakt -->
  <section id="contact" class="wrapper style1 special">
    <div class="inner">
      <section>
        <header class="major">
          <h2>Kontakt</h2>
          <p>
            Biuro Usług&nbsp;Mierniczych i&nbsp;Geodezyjnych&nbsp;
            „BUMIG” Tomasz&nbsp;Podziemski&nbsp
          <!-- </p> -->
            <br />
          <!-- <p> -->
            Ul.&nbsp10&nbspDywizji&nbsp;24/1&nbsp;
            <br />
            59-600 Lwówek&nbsp;Śląski
          </p>
          <p>
            W&nbsp;razie&nbsp;pytań&nbsp;zachęcamy&nbsp;do&nbsp;kontaktu.&nbsp;
          </p>
          <div class="image" style="height: 400px; width: 100%;">
            {% include map.html %}
            <div class="d-flex flex-column justify-content-center gap-4 mt-4 flex-md-row">
              <a href="https://maps.app.goo.gl/ouY9VZDkRuKxXwYf8" target="_blank" class="button small">Google maps</a>
            </div>
          </div>
        
      </section>
        <!-- <a id="showContactInfo" class="button small">Pokaż dane kontaktowe</a> -->

        <div id="contactInfo">
          <table>
            <tr>
              <td>
                Geodezja i Miernictwo górnicze
                <br />
                Email:&nbsp;
                <a href="mailto:bumig@o2.pl">bumig@o2.pl</a>
                <br />
                Email:&nbsp;
                <a href="mailto:bumig@bumig.pl">bumig@bumig.pl</a>
                <br />
                Tel. 663 771 400
              </td>
              <td>
                Geologia górnicza
                <br />
                Email:&nbsp;
                <a href="mailto:geolog@bumig.pl">geolog@bumig.pl</a>
                <br />
                Tel. 601 934 436
              </td>
            </tr>
          </table>
        </div>
      </header>
    </div>
  </section>

  <section id="footer" class="wrapper style1 special">
     <div class="inner">
      <ul class="copyright">
    <li>
      &copy; {% assign thisyear = site.time | date: "%Y" %} {% if
      site.first_published %} {% capture diff %}{{ site.first_published |
      minus:thisyear }}{% endcapture %} {% if diff contains '-' %}{{
      site.first_published }},{% endif %} {% endif %} {{ thisyear }} {% if
      site.owner %}{{ site.owner }}{% else %}{{ site.title }}{% endif %}
    </li>
    <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
    <li>
      Built with: <a href="http://jekyllrb.com" target="_blank">Jekyll</a>
    </li>
  </ul>
    </div>
  </section>
</body>