<head>
  <link rel="stylesheet" href="/assets/leaflet/leaflet.css" />
  <script src="/assets/leaflet/leaflet.js"></script>
</head>

<div class="card col-md-10 mx-md-auto map-container my-3">
  <div id="map" class="map-responsive"></div>
</div>

<script>
  // Creating map options
  var mapOptions = {
    center: [51.10896, 15.57295],
    zoom: !L.Browser.mobile ? 15 : 14,
    scrollWheelZoom: false,
    dragging: !L.Browser.mobile,
    tap: !L.Browser.mobile,
  };
  // Creating a map object
  var map = new L.map("map", mapOptions);
  // Creating a Layer object
  var layer = new L.TileLayer(
    "https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}"
    // "https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}"
    // "http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
  );
  // Adding layer to the map
  map.addLayer(layer);

  let marker = new L.Marker([51.10896, 15.57295]);
  marker.addTo(map);

  // let marker2 = new L.Marker([]);
  // marker2.addTo(map);
</script>
