#churchImg {
  background-image: url("/assets/imgs/church.jpg") !important;
}

#palaceImg {
  background-image: url("/assets/imgs/palace.jpg") !important;
}

#moneyImg {
  background-image: url("/assets/imgs/onecoinonejar.jpg") !important;
}

#contact {
  li::marker {
    content: '';
  }
}
