---
---

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* #header {
  height: auto;
  min-height: 3.25em;
  line-height: 1.25;
} */

/* #header h1 {
  padding-right: 4.5em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;*/
/* text-align: center; */
/*} */

/* #header h1 a {
  white-space: normal;
  display: inline-block;
}  */
