---
---

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* section {
  background-color: #b8ddeb; 
  background-color: #1500eb;
} */
#banner {
  position: relative;
  background-size: cover;
  background-position: center;
}
#banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
#banner .inner {
  position: relative;
  z-index: 2;
}
